# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment folders
.venv
venv/
Lib/
Scripts/
Include/
pyvenv.cfg

# Ignore VS Code settings
.vscode/

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore your project's cache
trade_parse/__pycache__/

.DS_Store